<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp1.My.MySettings.EmployeeManagementConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\AASTHA MITTAL\VB.NET PROJECT\EmployeeManagement.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp1.My.MySettings.ItemManagementConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\AASTHA MITTAL\VB.NET PROJECT\ItemManagement.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp1.My.MySettings.StockManagementConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\AASTHA MITTAL\VB.NET PROJECT\StockManagement.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp1.My.MySettings.projectDbmainConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\AASTHA MITTAL\VB.NET PROJECT\projectDbmain.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp1.My.MySettings.projectDbmainConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Rajesh Mittal\Desktop\New Project\Final Project VB\VB.NET PROJECT\projectDbmain.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp1.My.MySettings.projectDbmainConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Rajesh Mittal\Desktop\vbdotnet\New Project\Final Project VB\VB.NET PROJECT\projectDbmain.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>